.DateRange {
    text-align: center;
    text-transform: uppercase;
    color: #5cb85c;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.d-md-none .DateRange {
    margin-top: 0;
    font-size: 25px;
    text-align: left;
    color: #fff;
    background-color: #5cb85c;
    margin-bottom: 5px;
    padding-left: 15px;
}


.d-md-none .DateRange_dayname {
    display: inline;
    margin-right: 20px
}

.d-md-none .DateRange_date {
    display: inline;
}