.DateRange {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #5cb85c;
    font-weight: bold;
    margin-top: 20px;

}

.col-xs-12 .DateRange {
    margin-top: 0;
    font-size: 25px;
    text-align: left;
}


.col-xs-12 .DateRange_dayname {
    display: inline;
    margin-right: 20px
}

.col-xs-12 .DateRange_date {
    display: inline;
}