.DateRange {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #999;
    font-weight: bold;
    margin-top: 20px;

}

.DateRange_dayname {

}

.DateRange_date {

}