.EventPreview {
    border: 1px solid rgba(0,0,0,.1);
    padding: 1.5rem 0;
    margin-bottom: 30px
}

.EventPreview_not-confirmed {
    background-image: linear-gradient(45deg, rgba(222, 222, 222, 0.1) 9.09%, rgba(255, 255, 255, 0.1) 9.09%, rgba(255, 255, 255, 0.1) 50%, rgba(222, 222, 222, 0.1) 50%, rgba(222, 222, 222, 0.1) 59.09%, rgba(255, 255, 255, 0.1) 59.09%, rgba(255, 255, 255, 0.1) 100%);
    background-size: 15.56px 15.56px;
}

.EventPreview h1 {
    font-weight: 600!important;
    font-size: 1.5rem!important;
    margin-bottom: 3px;
    line-height: 1.1;
    color: #5cb85c;
}

.EventPreview p {
    font-weight: 300;
    font-size: 24px;
    color: #999;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem;
}

.EventPreview a, a:hover {
    text-decoration: none;
    cursor: pointer;
}

.EventPreview img {
    object-fit: cover;
    height: 150px;
    width: 150px;
    margin: 0 10px;
}

.EventPreview .col-xs-12 img {
    float: left;
    margin-left: 0px;
    margin-top: 5px;
}

.EventPreview_info {
   display: inline-block;
   margin-right: 15px;
   white-space:nowrap;
}

.EventPreview_info i {
   margin-right: 6px;
}

.EventPreview_not-confirmed-badge {
   text-align: center;
   background-color: #999;
   display: block;
   font-size: 85%;
}